.contactForm{
    flex-direction: column;
    button{
       margin-top: 30px; 
       width: 20%;
    }
    input{
        height: 50px;
        margin-bottom: 20px;
    }
    label{
        font-size: 20px;
        color: $secondary;
    }
}